@using SMED.FrontEnd.Services

<div class="top-row ps-3 navbar navbar-dark d-md-none">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SMED.FrontEnd</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable bg-transparent">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/home" Match="NavLinkMatch.All">
                <span class="nav-link-content">
                    <i class="fa-solid fa-house nav-icon"></i>
                    <span class="nav-text">Home</span>
                </span>
            </NavLink>
        </div>

        @if (allowedModules.Contains("Personas"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/persons">
                    <span class="nav-link-content">
                        <i class="fa-solid fa-users nav-icon"></i>
                        <span class="nav-text">Personas</span>
                    </span>
                </NavLink>
            </div>
        }

        @if (allowedModules.Contains("Historia Clínica"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/medical-history/registro">
                    <span class="nav-link-content">
                        <i class="fa-solid fa-book-medical nav-icon"></i>
                        <span class="nav-text">Historia Clínica</span>
                    </span>
                </NavLink>
            </div>
        }

        @if (allowedModules.Contains("Atención Médica"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/medical-attention/registro">
                    <span class="nav-link-content">
                        <i class="fa-solid fa-heart-pulse nav-icon"></i>
                        <span class="nav-text">Atención Médica</span>
                    </span>
                </NavLink>
            </div>
        }

        @if (allowedModules.Contains("Nutrición"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/nutrition-module/registro">
                    <span class="nav-link-content">
                        <i class="fa-solid fa-apple-whole nav-icon"></i>
                        <span class="nav-text">Nutrición</span>
                    </span>
                </NavLink>
            </div>
        }

        @if (allowedModules.Contains("Enfermería"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/nursing-module/registro">
                    <span class="nav-link-content">
                        <i class="fa-solid fa-kit-medical nav-icon"></i>
                        <span class="nav-text">Enfermería</span>
                    </span>
                </NavLink>
            </div>
        }

        @if (allowedModules.Contains("Psicología"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/psychology-module/registro">
                    <span class="nav-link-content">
                        <i class="fa-solid fa-brain nav-icon"></i>
                        <span class="nav-text">Psicología</span>
                    </span>
                </NavLink>
            </div>
        }

        @if (allowedModules.Contains("Estimulación Temprana"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/early-stimulation/registro">
                    <span class="nav-link-content">
                        <i class="fa-solid fa-baby nav-icon"></i>
                        <span class="nav-text">Estimulación T.</span>
                    </span>
                </NavLink>
            </div>
        }

        @if (allowedModules.Contains("Fisioterapia"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/physiotherapy-module/registro">
                    <span class="nav-link-content">
                        <i class="fa-solid fa-person-walking nav-icon"></i>
                        <span class="nav-text">Fisioterapia</span>
                    </span>
                </NavLink>
            </div>
        }

        @if (allowedModules.Contains("Usuarios"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/users">
                    <span class="nav-link-content">
                        <i class="fa-solid fa-gear nav-icon"></i>
                        <span class="nav-text">Usuarios</span>
                    </span>
                </NavLink>
            </div>
        }

        @if (allowedModules.Contains("Reportes"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/reports">
                    <span class="nav-link-content">
                        <i class="fa-solid fa-chart-line nav-icon"></i>
                        <span class="nav-text">Reportes</span>
                    </span>
                </NavLink>
            </div>
        }

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private List<string> allowedModules = new List<string>();

    [Inject]
    private IAuthorizationService AuthorizationService { get; set; } = null!;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserModules();
    }

    private async Task LoadUserModules()
    {
        allowedModules = await AuthorizationService.GetUserModulesAsync();
        StateHasChanged(); // Asegura que la UI se actualice
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}