@page "/medical-history/gynecological"
@using SMED.FrontEnd.Components

<TabContainer OnSave="GuardarDatos">
    <h4>Historia Clínica - Ginecología</h4>
    <PatientSelector />
    
    <div class="containerbox1-grid">
        <ContainerBox1 Title="Desarrollo Ginecológico" Width="full" />
    </div>

    <div class="containerbox2-grid">
        <ContainerBox2 Title="Menarquia" Width="half" />
        <ContainerBox2 Title="Pubarquia" Width="half" />
    </div>

    <div class="containerbox1-grid">
        <ContainerBox1 Title="Ciclos Menstruales" Width="full" />
    </div>

    <div class="containerbox2-grid">
        <ContainerBox2 Title="Última Menstruación" Width="half" />
    </div>

    <div class="containerbox1-grid">
        <ContainerBox1 Title="Métodos Anticonceptivos" Width="full" />
    </div>


</TabContainer>

@code {
    private async Task GuardarDatos()
    {
        Console.WriteLine("Guardando datos del historial ginecológico...");
        // Lógica real de guardado aquí
    }
}
