@page "/medical-history/obstetric"
@using SMED.FrontEnd.Components

<TabContainer OnSave="GuardarDatos">
    <h4>Historia Clínica - Obstétrico</h4>
    <PatientSelector />

    <div class="d-flex flex-wrap">
        <Check Title="Paciente refiere dolor pélvico" />
        <Check Title="Tiene antecedentes de aborto espontáneo" />
        <Check Title="Planifica embarazo actual" />
        <Check Title="Uso de anticonceptivos previamente" />
    </div>


</TabContainer>

@code {
    private async Task GuardarDatos()
    {
        Console.WriteLine("Guardando datos del historial obstétrico...");
        // Lógica real de guardado aquí
    }
}
